{% extends 'team-base.html' %}

{% block header %}
	<h1>{{ team.team_name }}</h1><br />
{% endblock %}

{% block form %}
	<form action="{% url 'team:detail' team.id %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Add Player" />
	</form>
	<a href="{% url 'team:index' %}">Back to Teams</a>
{% endblock %}

{% block players_list %}
	<ul class="unstyled">
		{% for player in team.players.all %}
			<li><a href="/player/{{ player.id }}">{{ player.number }} {{ player.first_name }} {{ player.last_name }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}

{% block available_players %}

{% endblock %}